body {
  background-gradient: #0097a7;
  background-blend-mode: color-burn;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0097a7;
}
header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0097a7;
  color: #e2c8bb;
  padding: 20px;
  text-align: center;
  font-size: x-large;
  /* border: solid 2px black; */
}
#navigation_bar {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.login-btn {
  margin-right: 50px;
}
.signup-btn {
  margin-left: 10 px;
}
nav a {
  color: #1a8c99;
  background-color: #e2c8bb;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}
nav a:hover {
  background-color: #00a5bb;
}
section {
  padding: 20px;
}
#information {
  background-color: #0097a7;
  /* border: solid 2px black; */
  text-align: center;
}
#file_dropper {
  background-color: #0097a7;
  padding: 10px 0;
  text-align: center;
}
#navigation_bar {
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
  background-color: #0097a7;
  color: black;
  text-align: center;
  padding: 10px 0;
  text-align: center;
}
#drop-area {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #00aabd;
  border: 2px dashed #ccc;
  border-radius: 20px;
  text-align: center;
}

.drop-zone {
  margin: 20px 0;
  padding: 40px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00a2b4;
}

.file-label {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

#file-list {
  margin-top: 20px;
}

.file-entry {
  margin-bottom: 10px;
}

p {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}
#logo {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: auto;
}
