<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - Sea Life Scan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='Fav-3_Fav_2.svg') }}"
  />
</head>
<nav
  class="bg-blue-300 h-20 mx-auto mb-6 shadow flex justify-center items-center w-full group-hover:bg-gray-400"
>
  <div><image: {{ url_for('static', filename='logo.png') }}</div>
  <div class="cursor-default hover:scale-150 drop-shadow-xl stroke-2 mx-auto">
    <h1 class="text-lg font-bold">Sea Life Scan</h1>
  </div>
  <!-- <div class="flex justify-center mx-auto">
	<button -->
  <!-- class="border-solid border-2 bg-blue-500 hover:bg-blue-600 text-black font-bold py-2 px-4 rounded mr-4 transition-colors duration-300 ease-in-out m-9"
	>
		Login
	</button>
	<button
		class="border-solid border-2 bg-blue-500 hover:bg-blue-600 text-black font-bold py-2 px-4 rounded mr-4 transition-colors duration-300 ease-in-out m-9"
	>
		Sign up
	</button>
	</div> -->
</nav>
<main class="container mx-auto max-w-screen-md">
  {% block content %}{% endblock %}
</main>
