<!DOCTYPE html>

<head>
  <title>{% block title %}{% endblock %} - Sea Life Scan</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='Fav-3_Fav_2.svg') }}"
  />
</head>
<nav
  class="bg-blue-300 h-20 mx-auto mb-6 shadow flex justify-center items-center w-full group-hover:bg-gray-400"
>
  <div class="cursor-default hover:scale-150 drop-shadow-xl stroke-2 mx-auto">
    <h1 class="text-lg font-bold">Sea Life Scan</h1>
  </div>
</nav>
<main class="container mx-auto max-w-screen-md">
  {% block content %}{% endblock %}
</main>
<footer class="py-4"></footer>
