{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
	<div class="h-7 mb-12 border-black">
		<h1 class="">
			About SeaLifeScan: SeaLifeScan is an innovative
			<b>image recognition AI technology</b> developed specifically for marine
			life identification and analysis. Leveraging advanced algorithms and
			deep learning techniques, SeaLifeScan enables researchers,
			conservationists, and marine enthusiasts to identify various species of
			sea creatures accurately and efficiently. From identifying endangered
			species to monitoring marine ecosystems, SeaLifeScan plays a crucial
			role in marine conservation e    <nav
      class="bg-gray-700 h-20 mx-auto mb-6 shadow flex justify-center items-center w-full group-hover:bg-gray-400"
    >
      <div
        class="cursor-default hover:scale-150 drop-shadow-xl stroke-2 mx-auto"
      >
        <h1 class="text-lg font-bold">Sea Life Scan</h1>
      </div>
      <!-- <div class="flex justify-center mx-auto">
       <button -->
      <!-- class="border-solid border-2 bg-blue-500 hover:bg-blue-600 text-black font-bold py-2 px-4 rounded mr-4 transition-colors duration-300 ease-in-out m-9"
      >
        Login
      </button>
      <button
        class="border-solid border-2 bg-blue-500 hover:bg-blue-600 text-black font-bold py-2 px-4 rounded mr-4 transition-colors duration-300 ease-in-out m-9"
      >
        Sign up
      </button>
    </div> -->
    </nav>forts worldwide.
		</h1>    <nav
		class="bg-gray-700 h-20 mx-auto mb-6 shadow flex justify-center items-center w-full group-hover:bg-gray-400"
	>
		<div
			class="cursor-default hover:scale-150 drop-shadow-xl stroke-2 mx-auto"
		>
			<h1 class="text-lg font-bold">Sea Life Scan</h1>
		</div>
		<!-- <div class="flex justify-center mx-auto">
		 <button -->
		<!-- class="border-solid border-2 bg-blue-500 hover:bg-blue-600 text-black font-bold py-2 px-4 rounded mr-4 transition-colors duration-300 ease-in-out m-9"
		>
			Login
		</button>
		<button
			class="border-solid border-2 bg-blue-500 hover:bg-blue-600 text-black font-bold py-2 px-4 rounded mr-4 transition-colors duration-300 ease-in-out m-9"
		>
			Sign up
		</button>
	</div> -->
	</nav>
	</div>
	<div>
		<h2
			class="text-center mb-4 border-solid border-2 max-w-sm mt-11 h-12 mx-auto mt-32"
		>
			Upload an image to scan for sea life
		</h2>
		<form id="scan" class="flex justify-center flex-col w-[400px] mx-auto">
			<div
				class="relative border-2 border-gray-300 border-dashed rounded-lg p-6"
				id="dropzone"
			>
				<input
					type="file"
					class="absolute inset-0 w-full h-full opacity-0 z-50"
				/>
				<div class="text-center">
					<img
						class="mx-auto h-12 w-12"
						src="https://www.svgrepo.com/show/357902/image-upload.svg"
						alt=""
					/>

					<h3 class="mt-2 text-sm font-medium text-gray-900">
						<label for="file" class="relative cursor-pointer">
							<span>Drag and drop</span>
							<span class="text-indigo-600"> or browse</span>
							<span>to upload</span>
							<input
								id="file"
								name="file"
								type="file"
								class="sr-only"
								accept="png,jpg"
							/>
						</label>
					</h3>
					<p class="mt-1 text-xs text-gray-500">PNG, JPG up to 10MB</p>
				</div>

				<img src="" class="mt-4 mx-auto max-h-40 hidden" id="preview" />
			</div>
			<div class="mt-4">
				<input
					type="submit"
					class="w-full bg-indigo-600 border border-transparent rounded-md py-2 px-4 flex justify-center items-center text-white hover:bg-indigo-700"
					value="Scan"
				/>
			</div>
		</form>
	</div>
{% endblock %}