{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}

<body class="bg-gradient-to-r from-cyan-100 to-sky-300 h-32">
  <img
    src="{{ url_for('static', filename='Logo-3.svg') }} "
    class="border-solid border-zinc-900 border-3 mx-auto mb-6"
    width="200"
    height="200"
  />
  <h1 class="mb-auto text-center mx-auto">
    SeaLifeScan is an <b>image recognition AI</b>, created to help
    <b>YOU</b> learn more about ocean species.
  </h1>
  <div>
    <h2 class="text-center mb-4 max-w-sm mt- h-10 mx-auto mt-7 pt-1.5">
      Upload an image to scan for sea life
    </h2>
    <!-- POST Request to /api/scan -->
    <form id="scan" class="flex justify-center flex-col w-[400px] mx-auto">
      <div
        class="relative border-2 border-black border-dashed rounded-lg p-6"
        id="dropzone"
      >
        <input
          id="file"
          type="file"
          class="hover:cursor-pointer absolute inset-0 w-full h-full opacity-0 z-50"
        />
        <div class="text-center">
          <img
            class="mx-auto h-12 w-12"
            src="https://www.svgrepo.com/show/357902/image-upload.svg"
            alt=""
          />

          <h3 class="mt-2 text-sm font-medium text-gray-900">
            <label for="file" class="relative cursor-pointer">
              <span>Drag and drop</span>
              <span class="text-black"> or browse</span>
              <span>to upload</span>
              <input
                id="file"
                name="file"
                type="file"
                class="sr-only"
                accept="png,jpg"
              />
            </label>
          </h3>
          <p class="mt-1 text-xs text-gray-900">PNG, JPG up to 10MB</p>
        </div>

        <img src="" class="mt-4 mx-auto max-h-40 hidden" id="preview" />
        <span id="file-name"></span>
      </div>
      <div class="mt-4">
        <input
          type="submit"
          class="w-full bg-blue-300 0 border border-transparent rounded-md py-2 px-4 flex justify-center items-center text-black hover:bg-blue-500 hover:cursor-pointer"
          value="Scan"
        />
      </div>
    </form>
  </div>
  <div
    class="mb-11 -0 border-2 p-8 mt-11 border-dashed border-blasatisfies(satisfies(atisfies(satisfies(atisfies(satisfies(k bg-gradient-to-r from-blue-300 to-blue-150 rounded-2xl h-32"
  >
    <div class="hidden" id="results">
      <p class="text-lg" id="shark-name"></p>
      <p id="shark-desc"></p>
    </div>
  </div>
</body>
{% endblock %}
